.classpath
.project
.settings/
.springBeans
war/WEB-INF/classes/
war/WEB-INF/deploy/
war/inspector
extras/
*Css.java
.*.swp
war/WEB-INF/lib/gwt-servlet.jar
war/WEB-INF/lib/gwt-servlet-deps.jar
.gwt/
.DS_Store
