.cellTableWidget {
	margin-bottom: 20px;
		position: relative;
		top: -11px;
		width: 100%;
}

.cellTableFirstColumn {

}

.cellTableLastColumn {

}

.cellTableFooter {
	border-top: 2px solid #6f7277;
	padding: 3px 15px;
	text-align: left;
	color: #4b4a4a;
	text-shadow: #ddf 1px 1px 0;
	overflow: hidden;
}

.cellTableHeader {
	background-color: white;
	border-bottom: 1px solid #DFDFDF;
	font-family: DeliciousHeavyRegular;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 18px 15px 5px;
	text-align: left;
}

.cellTableCell {
	border-bottom: 1px dotted #BCBCBC;
	font-size: 12px;
	height: 30px;
	overflow: hidden;
	padding: 5px 15px;
}

.cellTableFirstColumnFooter {

}

.cellTableFirstColumnHeader {
	width: 165px;

}

.cellTableLastColumnFooter {

}

.cellTableLastColumnHeader {

}

.cellTableSortableHeader {
	cursor: pointer;
	cursor: hand;
}

.cellTableSortableHeader:hover {
	color: #6c6b6b;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
	background: #f7f7f7;
}

.cellTableEvenRowCell {

}

.cellTableOddRow {
	background: #ffffff;
}

.cellTableOddRowCell {

}

.cellTableHoveredRow {
	background: #eee;
}

.cellTableHoveredRowCell {

}

.cellTableKeyboardSelectedRow {
	background: #ffc;
}

.cellTableKeyboardSelectedRowCell {
}

.cellTableSelectedRow {
	background: #628cd5;
	color: white;
	height: auto;
	overflow: auto;
}

.cellTableSelectedRowCell {
}

/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
}

.cellTableLoading {
	margin: 30px;
}