h2 {
	padding: 5px 20px;
	font-family: DeliciousHeavyRegular;
	font-size: 17px;
	color: black;
	font-weight: normal;
}

.billPanel {
	display: block;
	overflow: hidden;
}

.billTitle {
	background: url("images/bg_grad.jpg") repeat-x scroll 0 bottom white;
	border-top: 1px solid white;
	color: black;
	font-family: DeliciousBold;
	font-size: 17px;
	overflow: hidden;
	padding: 10px 20px;
}

.billData {
	background-color: white;
	clear: both;
	display: block;
	float: left;
	padding: 15px;
	width: 100%;
}

.conflictWrapper {
	background: url("images/arrow_right_hor.png") no-repeat scroll 600px -18px transparent;
	clear: both;
	margin-top: 11px;
	overflow: hidden;
	padding-top: 9px;
	margin-bottom: 60px;
}

.parlamentarianPanel {
	float: left;
}

.societyPanel {
	float: left;
}

.billdescription {
	border-right: 1px dotted #D2D2D2;
	float: left;
	padding: 10px 29px 15px 0;
	max-width: 630px;
}

.billAuthors {
	float: left;
	padding: 10px 29px 15px 15px;
}

.billCategories {
	display: block;
	width: 100%;
	border-top: 1px dotted #D2D2D2;
	background-color: white;
	display: block;
	float: left;
	min-width: 260px;
	padding: 15px;
}

.billData {
	background-color: white;
	display: block;
	float: left;
	min-width: 260px;
	padding: 15px;
}

.billData ul {
	border-bottom: 1px dotted #D2D2D2;
	display: block;
	margin: -3px -15px 10px;
	overflow: hidden;
	padding: 0 0 9px;
	width: 100%;
}

.billData li {
	border-right: 1px dotted #d2d2d2;
	display: block;
	float: left;
	overflow: hidden;
	padding: 2px 11px;
}

.billData li:last-child {
	border-right: none;
	padding-right: 0;
}

.billData li div {
	color: grey;
	float: left;
	font-family: DeliciousItalic;
	font-size: 1.09em;
}

.billData li span,.billAuthors span, .billCategories span {
	float: left;
	font-family: DeliciousBold;
	font-size: 1.09em;
	margin-right: 3px;
}

.billAuthors span, .billCategories span {
	clear: both;
	float: none;
}

.selectionWrapper,.parlamentarianWrapperBorder {
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	-moz-border-radius: 13px; /* FF1+ */
	-webkit-border-radius: 13px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 13px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	position: relative;
	z-index: 2000;
}

.selectionWrapper {
	width: 640px;
}

.wrapperHeadNote {
	border-bottom: 4px solid white;
	color: #D2D2D2;
	font-family: arial;
	font-size: 0.97em;
	letter-spacing: 0.1pt;
	line-height: 15px;
	padding: 10px;
	text-align: center;
	width: 260px;
}

.parlamentarianTableWrapper,.selectionDisplay {
	border: 6px solid white;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	background: url(images/bg_dark.jpg) repeat scroll 0 0 transparent;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: 0px 0px 16px #000000 inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 16px #000000 inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 16px #000000 inset;
	/* Opera 10.5, IE9, Chrome 10+ */
	font-size: 12px;
	color: white;
	overflow: hidden;
	position: relative;
	z-index: 2000;
}

.selectionDisplay {
	height: 46px;
}

.selectionDisplay div {
	float: left;
}

.profileButton {
	background: url("images/profile_button.png") no-repeat scroll -6px top
		transparent;
	cursor: pointer;
	display: block;
	font-size: 0.87em;
	height: 27px;
	line-height: 100%;
	margin-left: 30px;
	padding-left: 36px;
	padding-top: 4px;
	position: relative;
	top: 6px;
	width: 76px;
}

.profileButton:hover {
	background-position: -6px -54px;
}

.parlamentarianImage {
	width: 46px;
	float: left;
}

.selectionDisplay .linkProfile {
	clear: both;
	font-size: 84%;
	letter-spacing: 0.2pt;
	text-decoration: underline;
}

.parliamentarianSelection {
	display: block;
	float: left;
	margin-right: 15px;
	width: 640px;
	margin-top: 32px;
}

.parlamentarianDisplay {
	font-size: 120%;
	padding: 13px;
	width: 391px;
}

.parlamentarianPanel {
	display: block;
	overflow: hidden;
	float: left;
}

.parlamentarianPanel h2 {
	text-align: center;
}

.searchTableScroll {
	max-height: 285px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 280px;
	-moz-border-radius: 0 0 9px 9px; /* FF1+ */
	-webkit-border-radius: 0 0 9px 9px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 0 0 9px 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}

.searchTableBg {
	-moz-border-radius: 0 0 9px 9px; /* FF1+ */
	-webkit-border-radius: 0 0 9px 9px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 0 0 9px 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	-moz-box-shadow: 0px 0px 4px #000000 inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 4px #000000 inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 4px #000000 inset;
	/* Opera 10.5, IE9, Chrome 10+ */
	background: url("images/bg_darker.jpg") repeat scroll 0 0 transparent;
	width: 280px;
}

.sharePanel {
	position:fixed;
	top: 120px;
	margin-left: -80px;
	z-index: 1;
}

.emptySocietyTableWidget, .emptyStockTableWidget  {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	display: block;
	font-size: 122%;
	font-weight: bold;
	padding: 22px;
}
