.parlamentarianPanel, .categoryPanel {
	display: block;
	overflow: hidden;
	float: left;
	margin-top: 10px;
}

.categoryPanel {
	position: relative;
	left: 0px;
}

.searchBox {
	border: 5px solid white;
	-moz-border-radius: 13px; /* FF1+ */
	-webkit-border-radius: 13px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 13px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	background-color: #D8D8D8;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	height: 23px;
	-moz-box-shadow: 0 0 9px #A0A0A0 inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0 9px #A0A0A0 inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0 9px #A0A0A0 inset;
	padding: 2px 12px;
	width: 368px;
	font-family: DeliciousHeavyRegular;
	font-size: 15px;
}

.searchTableScroll {
	border-bottom: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
	height: 281px;
	left: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 371px;
	-moz-border-radius: 0 0 9px 9px; /* FF1+ */
	-webkit-border-radius: 0 0 9px 9px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 0 0 9px 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}

.searchTableBg {
	background: url("images/bg_darker.jpg") repeat scroll 0 0 transparent;
	min-height: 281px;
	-moz-border-radius: 0 0 9px 9px; /* FF1+ */
	-webkit-border-radius: 0 0 9px 9px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 0 0 9px 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	-moz-box-shadow: 0px 0px 4px #000000 inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 4px #000000 inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 4px #000000 inset;
	/* Opera 10.5, IE9, Chrome 10+ */
}

.selectionWrapper {
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	-moz-border-radius: 25px; /* FF1+ */
	-webkit-border-radius: 25px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 25px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin: 15px 0 0;
	float: left;
	width: 897px;
	position: relative;
	z-index: 2000;
}
.searchTitle {
	-moz-border-radius: 16px 16px 0 0; /* FF1+ */
	-webkit-border-radius:16px 16px 0 0; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius:16px 16px 0 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-moz-box-shadow: 0px 0px 16px #000000 inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 16px #000000 inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 16px #000000 inset;
	background: url("images/bg_dark.jpg") repeat scroll 0 0 padding-box transparent;
	border-left: 5px solid white;
	border-right: 5px solid white;
	border-top: 5px solid white;
	color: white;
	font-size: 15px;
	left: 12px;
	overflow: hidden;
	padding: 4px 10px 2px;
	position: relative;
	width: 350px;
}

.searchTitle h2 {
	color: white;
	font-family: TrashHandRegular;
	font-size: 21px;
	font-weight: normal;
	letter-spacing: 0.5pt;
	margin: 12px 26px;
	word-spacing: 2pt;
}

.categoryPanel .searchTitle h2 {
	float: right;
}


.parlamentarianPanel .searchTitle h2 {
	float: left;
}

.selectionDisplay {
	border: 10px solid white;
	-moz-border-radius: 24px; /* FF1+ */
	-webkit-border-radius: 24x; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 24px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	background: url(images/bg_dark.jpg) repeat scroll 0 0 transparent;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: 0px 0px 16px #000000 inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 16px #000000 inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 16px #000000 inset;
	/* Opera 10.5, IE9, Chrome 10+ */
	font-size: 15px;
	color: white;
	overflow: hidden;
}

.selectionTable {
	width: 100%;
	margin: -2px;
	font-family: DeliciousBold;
}

.selectionTable td {
	vertical-align: middle;
	padding: 15px 10px;
}

.selectionTable td.parlamentarianImage {
	width: 65px;
	padding: 0px 5px 0px 0px;
}

.selectionTable td.parlamentarianImage img {
	margin: 0 0 -4px -1px;
	width: 95%;
}

td.selectedParlamentarian {
	width: 284px;
	padding-right: 20px;
}

td.plus {
	background: url(images/plus.png) no-repeat scroll center center
		transparent;
	width: 80px;
}

td.selectedCategory div {
	text-align: center;
}

.selectionDisplay .linkProfile {
	clear: both;
	font-size: 84%;
	letter-spacing: 0.2pt;
	text-decoration: underline;
	cursor: pointer;
}

.billPanel {
	float: left;
	left: 12px;
	margin-top: -3px;
	position: relative;
	width: 865px;
	margin-bottom: 30px;
}

.lockedCategory, .lockedParlamentarian {
	background-image: url("images/switch.png");
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 44px;
	left: 2px;
	margin-top: 7px;
	position: relative;
	top: 0;
	width: 90px;
	cursor: pointer;
	clear: both;
}

.lockedCategory {
	background-position: 0 -69px;
}

.lockedParlamentarian {
}

.parliamentarianLightOn {
	background: url("images/glow_arrows.png") no-repeat scroll -9px -9px transparent;
	display: block;
	height: 49px;
	width: 43px;
	float: left;
}

.parliamentarianLightOff {
	background: url("images/glow_arrows.png") no-repeat scroll -9px -63px transparent;
	display: block;
	height: 49px;
	width: 43px;
	float: left;
}

.categoryLightOn {
	background: url("images/glow_arrows.png") no-repeat scroll -110px -9px transparent;
	display: block;
	height: 49px;
	width: 43px;
	float: right;
}

.categoryLightOff {
	background: url("images/glow_arrows.png") no-repeat scroll -110px -63px transparent;
	display: block;
	height: 49px;
	width: 43px;
	float: right;
}

.searchClear {
	background: url("images/close.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 19px;
	margin: -20px;
	position: relative;
	right: 32px;
	top: 28px;
	width: 20px;
	z-index: 20000;
	cursor: pointer;
}

.selectionDisplayNone {
	font-family: TrashHandRegular;
	font-size: 21px;
	font-weight: normal;
	letter-spacing: 0.5pt;
	word-spacing: 2pt;
}

.selectionDisplayParliamentary {
	background: url("images/arrow_notification.png") no-repeat scroll -25px 52px  transparent;
	color: grey;
	display: block;
	float: left;
	font-family: TrashHand;
	font-size: 17px;
	margin-top: 109px;
	padding: 0 9px 51px;
	position: relative;
	text-align: center;
}

.selectionDisplayCategory {
	background: url("images/arrow_notification.png") no-repeat scroll 10px -51px transparent;
	color: grey;
	display: block;
	float: left;
	font-family: TrashHand;
	font-size: 17px;
	margin-top: 109px;
	padding: 0 0px 51px;
	position: relative;
	text-align: center;
}

.center {
	display: block;
	float: left;
	margin-top: 7px;
	position: relative;
	top: 0;
	width: 90px;
}
