.parlamentarianPanel,.categoryPanel {
	display: block;
	overflow: hidden;
	float: left;
	margin-top: 10px;
}

.categoryPanel {
	position: relative;
	left: 33px;
}

.searchBox {
	border: 5px solid white;
	-moz-border-radius: 13px; /* FF1+ */
	-webkit-border-radius: 13px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 13px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	background-color: #D8D8D8;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	height: 23px;
	-moz-box-shadow: 0 0 9px #A0A0A0 inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0 9px #A0A0A0 inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0 9px #A0A0A0 inset;
	padding: 2px 12px;
	width: 368px;
	font-family: DeliciousHeavyRegular;
	font-size: 15px;
}

.searchTableScroll {
	height: 281px;
	left: 14px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 385px;
	-moz-border-radius: 0 0 9px 9px; /* FF1+ */
	-webkit-border-radius: 0 0 9px 9px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 0 0 9px 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}

.searchTableBg {
	background: url("images/bg_darker.jpg") repeat scroll 0 0 transparent;
	min-height: 281px;
	width: 370px;
	-moz-border-radius: 0 0 9px 9px; /* FF1+ */
	-webkit-border-radius: 0 0 9px 9px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 0 0 9px 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	-moz-box-shadow: 0px 0px 4px #000000 inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 4px #000000 inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 4px #000000 inset;
	/* Opera 10.5, IE9, Chrome 10+ */
}

.selectionWrapper {
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	-moz-border-radius: 25px; /* FF1+ */
	-webkit-border-radius: 25px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 25px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin: 15px 0 0;
	float: left;
	width: 868px;
	position: relative;
	z-index: 2000;
}

.selectionDisplay {
	border: 10px solid white;
	-moz-border-radius: 24px; /* FF1+ */
	-webkit-border-radius: 24x; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 24px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	background: url(images/bg_dark.jpg) repeat scroll 0 0 transparent;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: 0px 0px 16px #000000 inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 16px #000000 inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 16px #000000 inset;
	/* Opera 10.5, IE9, Chrome 10+ */
	font-size: 15px;
	color: white;
	overflow: hidden;
}

.selectionTable {
	width: 100%;
	margin: -2px;
	font-family: DeliciousBold;
}

.selectionTable td {
	vertical-align: middle;
	padding: 15px 10px;
}

.selectionTable td.parlamentarianImage {
	width: 65px;
	padding: 0px 5px 0px 0px;
}

.selectionTable td.parlamentarianImage img {
	margin: 0 0 -4px -1px;
	width: 95%;
}

.selectionTable td.selectedParlamentarian {
	width: 280px;
	padding-right: 20px;
}

td.plus {
	background: url(images/plus.png) no-repeat scroll center center
		transparent;
	width: 80px;
}

td.selectedCategory {
	text-align: center;
}

.selectionDisplay .linkProfile {
	clear: both;
	font-size: 84%;
	letter-spacing: 0.2pt;
	text-decoration: underline;
}

.billPanel {
	float: left;
	left: 12px;
	margin-top: -3px;
	position: relative;
	width: 845px;
	margin-bottom: 30px;
}

.unlocked,.lockedCategory,.lockedParlamentarian {
	display: block;
	height: 32px;
	width: 40px;
	background-image: url(images/lock_sprite.png);
	background-repeat: no-repeat;
	position: relative;
	top: 13px;
	float: left;
	left: 17px;
}

.lockedCategory {
	background-position: left top;
}

.unlocked {
	background-position: center top;
}

.lockedParlamentarian {
	background-position: right top;
}

.lightOn { }
.lightOff { }
.selectionDisplayNone { }
