h1 {
	font-family: DeliciousHeavyRegular;
	font-size: 18px;
	font-weight: normal;
	color: white;
	margin-top: 13px;
}

h3 {
	font-family: Arial, Lucida Grande, Calibri, sans-serif;
	font-size: 12px;
	color: white;
	margin-top: -2px;
	display: block;
}

h1, h3 {
	margin-left: 8px;
}

.societyTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	background: none repeat scroll 0 0 #F3F3F3;
	cellpadding: 3px;
	margin: 10px;
	width: 700px;
}

.societyTable th {
	text-align: left;
	background-color: #9C9C9A;
	border-right: 1px solid #D2D2D2;
	padding: 6px;
	vertical-align: middle;
	display: table-cell;
	width: 152px;
}

.normalTd {
	font-family: DeliciousBold;
	font-size: 1.09em;
	padding: 6px;
	display: table-cell;
	background-color: #FFFFFF;
	width: 546px;
}

.altTd {
	font-family: DeliciousBold;
	font-size: 1.09em;
	padding: 6px;
	display: table-cell;
	background-color: #E0DFDB;
	width: 539px;
}

.societyTable th, .societyTable, .normalTd, .altTd {
	border-top: 1px dotted #D2D2D2;
	border-bottom: 1px dotted #D2D2D2;
	border-collapse: collapse;
}

.popupCloseButton {
	background: url("images/close.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 19px;
	margin: -42px;
	position: relative;
	right: 32px;
	top: 28px;
	width: 20px;
	z-index: 2000;
	cursor: pointer;
}

.societyTitleWrapper {
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	-moz-border-radius: 13px; /* FF1+ */
	-webkit-border-radius: 13px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 13px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	position: relative;
	width: 718px;
}

.selectionDisplay {
	border: 6px solid white;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4, iOS 1+, Android 1.5+ */
	border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	background: url(images/bg_dark.jpg) repeat scroll 0 0 transparent;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: 0px 0px 16px #000000 inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 16px #000000 inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 16px #000000 inset;	/* Opera 10.5, IE9, Chrome 10+ */
	font-size: 12px;
	color: white;
	overflow: hidden;
	position: relative;
	height: 46px;
}

.societyHeader {
	margin-top: -5px;
}

.societySubTitle {
	padding-left: 118px;
	margin-top: -14px;
}
