.popupCloseButton {
	background: url("images/close.png") no-repeat scroll 0 0 transparent;
		cursor: pointer;
		display: block;
		float: right;
		height: 19px;
		right: 0;
		margin: 9px 10px;
		position: absolute;
		top: 0;
		width: 20px;
		z-index: 2000;
}

.popupSubscriptionPanel{
	background: url("images/bg_dark.jpg") repeat scroll 0 0 padding-box transparent;
		border: 7px solid #FFFFFF;
		border-radius: 10px 10px 10px 10px;
		margin: -5px;
		padding: 20px;
		color: #f3f3f3;
		text-align: center;
}

.popupSubscriptionPanel h4{
	margin: 3px 15px 15px;
}
