.popupCloseButton {
	background: url("images/close.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 19px;
	margin: -25px;
	position: relative;
	right: 254px;
	top: 13px;
	width: 20px;
	z-index: 2000;
	cursor: pointer;
}
