.container{
	background-clip: padding-box;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-color: rgba(0, 0, 0, 0.2);
	border: 10px solid white;
	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
	box-shadow: 0 0 1px #7E7C7C inset, 0 3px 3px #C9C9C9;
	-moz-box-shadow: 0 0 1px #7E7C7C inset, 0 3px 3px #C9C9C9;
	-webkit-box-shadow: 0 0 1px #7E7C7C inset, 0 3px 3px #C9C9C9;
	display: block;
	float: left;
	margin: 4px;
	padding: 35px 35px 50px;
	width: 850px;
	text-align: center;
}
.container div{
	margin: 10px 0 40px;
}

.unsuscribeText{
	font-size: 1.5em;
}