<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="/WEB-INF/jdbc.properties" />

	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" p:driverClass="${jdbc.driverClassName}" p:jdbcUrl="${jdbc.url}"
		p:user="${jdbc.username}" p:password="${jdbc.password}"
		p:initialPoolSize="3" p:minPoolSize="50" p:idleConnectionTestPeriod="200"
		p:acquireIncrement="1" p:maxStatements="0" p:numHelperThreads="3">
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<!-- Each model must be added this way -->
				<!-- <value>cl/votainteligente/inspector/model/Foobar.hbm.xml</value> -->
				<value>cl/votainteligente/inspector/model/Bill.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/BillType.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Category.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Chamber.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Commission.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/District.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/DistrictType.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/InitiativeType.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Notary.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Parlamentarian.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/ParlamentarianType.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Party.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Person.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Society.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/SocietyStatus.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/SocietyType.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Stage.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Subscriber.hbm.xml</value>
				<value>cl/votainteligente/inspector/model/Urgency.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.naming.strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="namingStrategy">
			<ref bean="namingStrategy" />
		</property>
	</bean>

	<bean id="namingStrategy" class="org.hibernate.cfg.ImprovedNamingStrategy" />

	<bean id="transactionAttributeSource"
		class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="emailNotifier" class="cl.votainteligente.inspector.server.EmailNotifier">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
</beans>
